# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Outputs (add/remove depending on your repo)
outputs/
results/
runs/
wandb/
